<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Version</h3>
          <ul>
            <li class="version">{{version}}</li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>F1 Chatter Championship</h3>
          <p>De applicatie om je Formule 1 voorspellingen door te geven.</p>
        </div>
      </div>
      <p class="copyright">Design by Rick © 2021</p>
    </div>
  </footer>
</div>
